{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="#">
    {% endblock %}
    {% block content %}
 
    <!-- Overlay -->
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="contact-title mb-4">Contact Us!</h2>
            </div>
          </div>
            <div class="row">
                <div class="col">
                    <h2 class="mb-2">Drop us message
                    </h2>
                </div>
            </div>
            <div class="container">
                <div
                    class="row">
                    <!-- Contact form -->
                    <br>
                        <div class="col-sm-7 contact-form">
                            <div class="row">
                                <div class="col form-margin">
                                    <form action="{% url 'contact' %}" method="POST">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            {{ field | as_crispy_field }}
                                        {% endfor %}
                                        <input type="submit" value="Submit" class="cancel-btn btn font-white btn-custom"></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
