{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
        
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-uppercase homepage-title">spread the word</h1>
      <p class="lead homepage-jumbo">Rep cMarket With Our Branded Merch & Turn No - Coiner Heads! </p>
      <a href="{% url 'products' %}" class="btn white shop-now-btn">Shop Now</a>

    </div>
</div>

<div class="col-12 w-100">
    
</div>
        


{% endblock %}
