{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
        
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-8 text-uppercase jumbotron-text">Lorem ipsum dolor sit amet.</h3>
        <h2 class="display-4 jumbotron-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, commodi!</h2>
        <h4>
            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
</div>

<div class="wrapper">
    <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reiciendis itaque at vero. Quisquam eum, ratione aspernatur vitae adipisci tempore?</div>
    <div class="">Lorem, ipsum dolor.</div>
</div> -->


{% endblock %}
