{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %} 

{% block extra_title %} | Checkout{% endblock %}
{% block content %}
<!-- page contents container with two rows -->
<section class="container py-5">
    <!-- row with one colum - Checkout heading-->
    <div class="row pt-5">
        <div class="col pt-5 pb-4">
            <h1 class="mb-4 page-title">Checkout</h1>
        </div>
    </div>
    <!-- row with two colums - order summary and checkout form -->
    <div class="row">
        <!-- order summary - column with 3 rows-->
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <!-- order summary header -->
            <h2 class="text-uppercase">Your Order Summary ({{ product_count }})</h2>
            <!-- 1st row with column sub headings -->
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small">Subtotal</p>
                </div>
            </div>
            <!-- 2nd row loop through bag items, display image, name, qty, subtotal -->
            {% for item in bag_items %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="Photo of {{ item.product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}no-image.png"
                            alt="No image yet for {{ item.product.name }}, image coming soon.">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small">{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <!-- 3rd row - totals -->
            <div class="row fw-600 text-right justify-content-end pr-4">
                <div class="col-7">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3 p-0">
                    <p class="my-0">€{{ total | floatformat:2 }}</p>
                    <p class="my-0">€{{ delivery | floatformat:2 }}</p>
                    <p class="my-0"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
                {% if free_delivery_spend_needed > 0 %}
                <p class="font-italic pr-3 pt-3 mb-0">You can get free delivery if you spend
                    <strong>€{{ free_delivery_spend_needed }}</strong> more!</p>
                {% endif %}
            </div>
            <hr>
            <!-- button to go back to the cart page -->
            <div class="text-right">
                <a href="{% url 'view_bag' %}" class="btn btn-brand-outline btn-lg">Adjust Bag</a>
            </div>
        </div>
        <!-- end of order summary -->
        <!-- checkout form -->
        <div class="col-12 col-lg-6">
            <h2 class="text-uppercase">Complete Your Order</h2>
            <p>Nearly there! Fill out the form below to complete your order and pay.</p>
            {% if not request.user.is_authenticated %}
            <p class="font-90 fw-500 mt-2"><a class="text-link" href="#">Sign in</a> to use or
                update your saved delivery information, or <a class="text-link" href="#">create
                    an account</a> to save delivery information and make the checkout process faster next time.
            </p>
            {% endif %}
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="brand-form">
                {% csrf_token %}
                <!-- form fields grouped into 3 fieldsets -->
                <!-- 1st fieldset - Personal details - form fields rendered with crispy forms -->
                <fieldset>
                    <legend class="fieldset-label px-2 w-auto mb-0">Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number| as_crispy_field  }}
                </fieldset>
                <!-- 2nd fieldset - Delivery details - form fields rendered with crispy forms -->
                <fieldset>
                    <legend class="fieldset-label px-2 w-auto">Delivery Details</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field  }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <!-- Save Info section -->
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <!-- if user logged in - checkbox to save default ph number + delivery info to profile -->
                        <label class="form-check-label" for="id-save-info">Save delivery information and phone number to
                            my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <!-- Or else links to sign in/create account, to then save the delivery info to profile -->
                        <label class="form-check-label" for="id-save-info">
                            <a href="#" class="text-link">Sign in</a> or
                            <a href="#" class="text-link">create an account</a> to save
                            delivery information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <!-- 3rd fieldset, Payment info. No form fields - using stripe - two empty divs to hold stripe elements -->
                <fieldset>
                    <legend class="fieldset-label px-2 w-auto">Payment Details</legend>
                    <p class="small"><em>All transactions are secure and encrypted.</em></p>
                    <!-- Stripe card element is mounted here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Stripe card errors displayed here - event listener for change on card, displays error here -->
                    <div class="mb-3 text-danger fw-600 small" id="card-errors" role="alert"></div>
                    <!-- Pass client secret to checkout view so it can get the payment intent id, to set stripe_pid field on model -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <!-- submit button section -->
                <div class="text-right mt-5 mb-2">
                    <!-- submit button -->
                    <button class="btn btn-brand btn-lg" id="submit-button">
                        <i class="bi bi-lock" aria-hidden="true"></i> Complete Order
                    </button>
                    <!-- notification that the card will be charged the amount once submitted -->
                    <p class="small fw-600 mt-2">Your card will be charged
                        <strong>£{{ grand_total|floatformat:2 }}</strong></p>
                </div>
            </form>
        </div>
        <!-- end of checkout form -->
    </div>
</section>
<!-- overlay to cover screen while payment is being processed -->
<div id="loading-overlay">
    <div class="loading-spinner" role="img" aria-label="payment request processing">
        <i class="bi bi-dash-circle-dotted spinner" aria-hidden="true"></i>
    </div>
</div>

{% endblock %}
