html {
    height: 100%;
}

body{
    background-color: #373b46;
    color: #fff;
}

/* Navbar */
.navbar{
    background-color: #24262b;
}

.logo{
    margin-left: 50px;
    font-size: 3em;
    color: #fff;
}

li > a > div > div > i{
    color: #fff;
}

li > a > div > p{
    color: #fff;
}

.fa-search{
    color:#fff;
}

/* index.html */ 
.jumbotron{
    height: 30vh;
    background-color: #24262b;
    margin-bottom: 0;
}

.jumbotron-text{
    color: #fff;
}

.shop-now-button{
    color: #fff;
}

.wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 30vh;   
}
.wrapper > div {
    border: 1px solid red;
    color: #fff
}

/* Products Page */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background:#24262b;
    z-index: -1;
}

.card{
    background-color: #373b46;
}

.card-footer{
    background-color: #373b46;
}

.add-to-bag-form{
    border-radius: 20px;
    background: #373b46;
}

.add-to-cart-btn{
    border: 1px solid #fff;
    color: #fff;
}

/* Bag */

.bag-tr > td > p {
    color: white;
}

tr > td > h6,
tr > td > h4,
tr > th,
.delivery-msg {
    color: white;
}

.white{
    color: #fff;
}

.font-white{
    color: #fff;
    border: 1px solid white;
}

.update-link, .remove-item{
    cursor: pointer;
}

/* Bootstrap Toasts */

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.toast-body{
    color: black;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}