@import url('https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap');

html,body {
    height: 100%;
}

body{
    background-color: #373b46;
    color: #fff;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Navbar */
.navbar {
    background-color: #24262b;
}

.logo {
    font-family: 'Righteous', cursive;
    margin-left: 50px;
    font-size: 3em;
    color: #fff;
}

.nav-items, .pm-title, .wishlist {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.logo:hover, .nav-items:hover, .fa-shopping-cart:hover,
.fa-user:hover, .fa-shopping-bag:hover,
.secure-checkout:hover, .keep-shopping:hover,
.adjust-bag:hover, .complete-order:hover, .cancel-btn:hover,
.pm-btn:hover, .update-info:hover  {
    color:rgb(106,90,205);
}

li > a > div > div > i{
    color: #fff;
}

li > a > div > p{
    color: #fff;
}

.main-nav-a {
    background-color: white;
}

.dropdown-item:hover {
    background:rgb(106,90,205);
    color: #fff;
    font-weight: 600;
}

.fa-search {
    color: #fff;
}

.fa-search-mobile {
    color: rgb(106,90,205);
}


/* Homepage */ 
.jumbotron{
    background-color: #24262b;
    margin-bottom: 0;
}

.jumbotron-text{
    color: #fff;
}

.shop-now-button{
    color: #fff;
}

.homepage-title {
    font-family: 'Righteous', cursive;
    font-size: 2em;
}

.homepage-jumbo {
    font-family: 'Lato', sans-serif;
    font-size: 2.75em;
    font-weight: 400;
}

.shop-now-btn{
    padding: 20px;
    background-color: rgb(106,90,205);
    box-shadow: 0 7px 0 rgba(106,90,205, 0.5);
    transition: transform 0.05s ease-out; 
    font-weight: 600;
    font-size: 1em;
}

.shop-now-btn:active {
    box-shadow: none;
    transform: translateY(10px);
}

.shop-now-btn:hover {
    color: white;
}


/* Products Page */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background:#24262b;
    z-index: -1;
}

.card{
    background-color: #373b46;
}

.card-footer{
    background-color: #373b46;
}

.add-to-bag-form{
    border-radius: 20px;
    background: #373b46;
    padding: 20px;
}

.fa-minus, .fa-plus, .fa-heart {
    color: #fff;
}

.add-to-cart-btn{
    padding: 10px;
    background-color: rgb(106,90,205);
    box-shadow: 0 5px 0 rgba(106,90,205, 0.5);
    transition: transform 0.05s ease-out; 
}

.add-to-cart-btn:active {
    box-shadow: none;
    transform: translateY(10px);
}

.add-to-cart-btn:hover {
    color: white;
}

.wishlist-div {
    margin-top: 20px;
    padding-left: 0;
}

.fa-heart {
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}

/* Bag */

.bag-tr > td > p {
    color: white;
}

tr > td > h6,
tr > td > h4,
tr > th,
.delivery-msg {
    color: white;
}

.white{
    color: #fff;
}

.font-white{
    color: #fff;
    border: 1px solid white;
}

.update-link, .remove-item{
    cursor: pointer;
}

/* Bootstrap Toasts */

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.toast-body{
    color: black;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Product Page */

.products-h2 {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
}

.shop-filter {
    background: #373b46;
    padding: 26px;
    margin-right: 4px;
    border-radius: 10px;
}

.shop-filter-heading  { 
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.clear-filter {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.filtering-option {
    height: 100%;
} 

.filter-li {
    list-style-type: none;
}

.filter-li > h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.filtering-div > a {
    display: block;
    text-decoration: none;
    color: white;
}

.filtering-div > a:hover {
    border-bottom: 1px solid white;
    width: fit-content;
}

.product-name {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 600;
}

.product-details-product-name {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.product-rating {
    font-size: 14px;
}

.product-description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.product-price {
    font-family: 'Righteous', cursive;
    font-size: 1.6em;
}

.size-col {
    padding-left: 0px;
}

.product-qty, .product-size {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}


/* Auth */ 

.auth-h1 {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    width:fit-content;
    margin: 25px auto;
}

.auth-p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 5px auto 5px;
    width:fit-content;
    text-align: justify;
}

.signup, .login, .logout, .email-confirm, .reset-form {
    margin: 5px auto;
    font-family: 'Lato', sans-serif;
    width: fit-content;
    font-size: 14px;
}

.submit-btn-auth {
    margin-top: 15px;
}


/* Bag */

.shopping-bag-h2 {
    font-family: 'Righteous', cursive;
}

.bag-total, .grand-total, .delivery-msg {
    font-family: 'Lato', sans-serif;
}

/* Extra Pages */

.extra-info-container > .row > h1,
.extra-info-container > .row > h2 {
    font-family: 'Righteous', cursive; 
    letter-spacing: 1px;
}

.extra-info-container > .row > p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.contact-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

/* Footer */

.footer-class {
    margin-top: 40px;
    padding: 50px 0 50px;
    width: 100%;
    color: #fff;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
}

.col h3 {
    width: fit-content;
    position: relative;
    font-weight: 700;
}

.footer-p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    line-height: 15px;
    letter-spacing: 1px;
}

.footer-ul {
    padding: 0;
}

.footer-ul li {
    list-style: none;
    font-size: 1.1em;
}

.footer-ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-ul li a:hover {
    border-bottom: 1px solid #fff;
}

.social-icons a {
    text-decoration: none;
}

.social-icons .fab {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    background-color: #fff;
    color: rgb(106,90,205);
}


/* Media Queries */
@media only screen and (min-width: 320px) {
    .logo {
        font-family: 'Righteous', cursive;
        margin-left: 1px;
        font-size: 2.5em;
        color: #fff;
    }

    .burger-menu {
        background-color: white;
        margin-right: 5px;
        padding: 6px;
    }

    .list-inline-item > a {
        font-size: 14px;
        padding: 0 5px;
    }

    .dropdown-menu {
        font-size: 13px;
    }

    .search-bar {
        margin-left: 15px;
    }

    .jumbotron{
        height: 50vh;
    }

    .homepage-title {
        font-family: 'Righteous', cursive;
        font-size: 1.25em;
    }
    
    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
    }

    .shop-now-btn{
        padding: 15px;
        font-weight: 600;
        font-size: 1em;
    }

    .shop-filter {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .product-details-product-name {
        font-size: 20px;
    }

    .product-description {
        font-size: 16px;
    }

    .prodouct-price {
        font-size: 1.6em;
    }
    
    .footer-p {
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 1.05em;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .col h3 {
        font-family: 'Righteous', cursive;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .social-links {
        font-family: 'Righteous', cursive;
        letter-spacing: 1.2px;
        font-size: 20px;
    }

    .keep-shopping, .secure-checkout {
        font-size: 12px
    }

    .extra-info-container > .row > h1 {
        font-size: 24px;
    }

    .extra-info-container > .row > h2 {
        font-size: 22px;
    }

    .extra-info-container > .row > p {
        font-size: 18px;
    }

    .auth-h1 {
        font-size: 2em;
    }
     
    .auth-p {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 375px) {
    .logo {
        font-family: 'Righteous', cursive;
        margin-left: 0px;
        font-size: 3em;
        color: #fff;
    }

    .burger-menu {
        background-color: white;
        margin-right: 5px;
        padding: 10px;
    }

    .list-inline-item > a {
        font-size: 16px;
        padding: 0 10px;
    }

    .dropdown-menu {
        font-size: 15px;
    }

    .jumbotron{
        height: 50vh;
    }

    .homepage-title {
        font-family: 'Righteous', cursive;
        font-size: 1.5em;
    }
    
    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 1.75em;
        font-weight: 400;
    }

    .shop-now-btn{
        padding: 15px;
        font-weight: 600;
        font-size: 1em;
    }

    .footer-p {
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 1.05em;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .col h3 {
        font-family: 'Righteous', cursive;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .social-links {
        font-family: 'Righteous', cursive;
        letter-spacing: 1.2px;
        font-size: 20px;
    }

    .keep-shopping, .secure-checkout {
        font-size: 14px
    }
  
}

@media only screen and (min-width: 425px) {
    .logo {
        margin-left: 0px;
        font-size: 3.5em;
    }
    
    .burger-menu {
        margin-right: 16px;
        padding: 12px;
    }

    .list-inline-item > a {
        font-size: 18px;
        padding: 0 10px;
    }


    .homepage-title {
        font-size: 1.5em;
    }
    
    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 1.75em;
        font-weight: 400;
    }

    .shop-now-btn{
        padding: 15px;
        font-weight: 600;
        font-size: 1.2em;
    }
           
    .col h3 {
        font-family: 'Righteous', cursive;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 1px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .social-links {
        font-family: 'Righteous', cursive;
        letter-spacing: 1.2px;
        font-size: 18px;
    }

    .keep-shopping, .secure-checkout {
        font-size: 16px
    }

    .auth-h1 {
        font-size: 2.2em;
    }
     
    .auth-p {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-left: 25px;
        font-size: 3em;
    }

    .homepage-title {
        font-size: 1.75em;
    }

    .jumbotron{
        height: 55vh;
    }

    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 2em;
        font-weight: 400;
    }

    .shop-now-btn{
        padding: 20px;
        font-weight: 600;
        font-size: 1.4em;
    }
         
    .col h3 {
        font-family: 'Righteous', cursive;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 1px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .social-links {
        font-family: 'Righteous', cursive;
        letter-spacing: 1.2px;
        font-size: 18px;
        margin-top: 50px;
    }

    .social-icons .fab {
        margin-right:0px;
    }

    .col:nth-child(2) {
        padding-left: 50px;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        margin-top: 50px;
    }

    .keep-shopping, .secure-checkout {
        font-size: 18px
    }

    .extra-info-container > .row > h1 {
        font-size: 28px;
    }

    .extra-info-container > .row > h2 {
        font-size: 24px;
    }

    .extra-info-container > .row > p {
        font-size: 20px;
    }

    .auth-h1 {
        font-size: 2.2em;
    }
     
    .auth-p {
        font-size: 1em;
    }

    .signup, .login, .logout, .email-confirm, .reset-form {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .logo {
        margin-left: 25px;
        font-size: 3.5em;
    }

    .nav-items {
        font-size: 1em;
    }

    .fa-shopping-cart, .fa-user, .fa-shopping-bag {
        font-size: 25px;
    }

    .homepage-title {
        font-size: 2em;
    }

    .jumbotron {
        height: 60vh;
    }

    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 2.25em;
        font-weight: 400;
    }
           
    .col h3 {
        font-size: 2em;
        letter-spacing: 1.2px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }

    .col:nth-child(2),
    .col:nth-child(3), 
    .col:nth-child(4) {
        margin-top: 50px;
    }

    .social-links {
        margin: 0;
    }

    .extra-info-container > .row > h1 {
        font-size: 40px;
    }

    .extra-info-container > .row > h2 {
        font-size: 28px;
    }

    .extra-info-container > .row > p {
        font-size: 24px;
    }

    .auth-h1 {
        font-size: 2.8em;
    }
     
    .auth-p {
        font-size: 1.2em;
    }

    .signup, .login, .logout, .email-confirm, .reset-form {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1440px) {
    .logo {
        font-size: 3.5em;
    }

    .nav-items {
        font-size: 1em;
    }

    .homepage-title {
        font-size: 2.25em;
    }

    .homepage-jumbo {
        font-family: 'Lato', sans-serif;
        font-size: 2.5em;
        font-weight: 400;
    }
           
    .col h3 {
        font-size: 2em;
        letter-spacing: 1.2px;
    }

    .footer-p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .footer-extra {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    .footer-ul > li > a {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }

    .col:nth-child(2),
    .col:nth-child(3), 
    .col:nth-child(4) {
        margin-top: 50px;
    }

    .social-links {
        font-size: 24px;
    }

    .social-icons .fab {
        font-size: 26px;
    }


}


@media (max-width: 700px) {
    .footer-class {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3), 
    .col:nth-child(4) {
        flex-basis: 100%
    }
}

