html {
    height: 100%;
}

body{
    background-color: #373b46;
    color: #fff;
}

/* Navbar */
.navbar{
    background-color: #24262b;
}

.logo{
    margin-left: 50px;
    font-size: 3em;
    color: #fff;
}

li > a > div > div > i{
    color: #fff;
}

li > a > div > p{
    color: #fff;
}

/* index.html */ 
.jumbotron{
    height: 30vh;
    background-color: #24262b;
    margin-bottom: 0;
}

.jumbotron-text{
    color: #fff;
}

.shop-now-button{
    color: #fff;
}

.wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 30vh;   
}
.wrapper > div {
    border: 1px solid red;
    color: #fff
}

/* Products Page */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background:#24262b;
    z-index: -1;
}

.card{
    background-color: #373b46;
}

.card-footer{
    background-color: #373b46;

}