    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link main-nav-a" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link main-nav-a" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tshirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=jumpers" class="dropdown-item">Jumpers</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=men" class="dropdown-item">Men</a>
                <a href="{% url 'products' %}?category=women" class="dropdown-item">Women</a>
                <a href="{% url 'products' %}?category=unisex" class="dropdown-item">Unisex</a>
            </div>
        </li>
    </ul>