{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="w-100">
  <h1 class="auth-h1">{% trans "Sign In" %}</h1>
  
  <p class="auth-p">{% blocktrans %}Create an Account
    <a href="{{ signup_url }}">Here</a>{% endblocktrans %}
  </p>
  
  
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <section class="submit-btn-auth w-100">
      <button class="btn white add-to-cart-btn" type="submit">{% trans "Sign In" %}</button>
    </section>
  </form>
</section>

{% endblock %}
